@import '../../../../assets/variables';

.users {
  padding: 2rem 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $icons-color;
  }

  &__cards {
    padding: 1rem 0;
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 400px);
  }
}
