$primary-color: #3F51B5;
$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$icons-color: #FFFFFF;
$accent-color: #E040FB;
$shadow-color: #0000003d;
$error-color: #d10c0c;
$success-color: #0dc00d;
